* {
  font-family: Ubuntu, "times new roman", times, roman, serif;
  border: 0;
  padding: 0;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

Form Button {
  width: 100%;
}

h2 {
  color: #ffffff;
}

h6 {
  color: greenyellow;
}

hr.line {
  border: 1px solid #ffffff;
  width: 300px;
  margin: 25px auto ;
}

.userInput{
  margin-top: 5px;
}

.app {
  margin: auto;
  padding-top: 40px;
  width: 950px;
  text-align: center;
}



.body-backgroud{
  /*background-image: url("./images/background.jpg");*/
  background-color: #4b4949;
  background-repeat: no-repeat;
}

.lobby {
  width: 400px;
  margin: auto;
}

.chat {
  display: grid;
}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.user-list {
  float: left;
  background-color: #313131;
  color:white;
  width: 200px;
  height: 440px;
  margin-right: 4px;
}

.message-container {
  height: 400px;    
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.user-message-right {
  text-align: right;
  padding-right: 5px;
  font-size: 18px;
}

.user-message-left {
  text-align: left;
  padding-right: 5px;
  font-size: 18px;
}

.message {
  display: inline-flex;
  margin: 5px auto 5px auto;
  padding: 5px;
  font-size: 18px;
  color:white;
  border-radius: 5px;
  margin-top: 3px;
  background-color: hsl(245, 18%, 39%);
}

.inputMessage{
  border-radius: 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.chat-alignment-left{
  display: flex;
  justify-content: left;
}

.chat-alignment-rigth{
  display: flex;
  justify-content: right;
}

.from-user {
  font-size: small;
  margin-bottom: 3px;
  margin-right: 5px;
}

